<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4
            border-bottom" style="background-color: #ffdd9d;">

    <ul class="nav ml-5 col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="/all" class="nav-link px-2 link-dark">All Posts</a></li>
        <li><a href="/clothes" class="nav-link px-2 link-dark">Clothes Posts</a></li>
        <li><a href="/cosmetics" class="nav-link px-2 link-dark">Cosmetics Posts</a></li>
    </ul>

    <div class="col-md-3 text-end">
        <a href="/login"><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
        <a href="/register"><button type="button" class="btn btn-outline-primary me-2">Sign-up</button></a>
        <a href="/login"><button type="button" class="btn btn-outline-danger me-2">Sign-out</button></a>
    </div>
</header>