<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Add Article Cloth</title>
</head>
<body style="background-color:burlywood">
    <div style="text-align: center;" >

        <nav class="navbar navbar-light" style="background-color: #ffdd9d;"">
            <a class="" href="/clothes">
                <button class="btn btn-light"> <-- Back to All Clothes </button>
            </a>
        </nav>

        <h1>Add Cloth Article</h1>
        <form action="/clothes/add" method="post">
            <label>Title</label><br>
            <input type="text" name="title" placeholder="Mukenah">
            <br>
            <br>
            <label>Image Url</label><br>
            <input type="text" name="imageURL" placeholder="https://cdn.elevenia.co.id/g/0/9/4/8/7/0/25094870_A1_V2.jpg">
            <br>
    
            <br>
            <label> Descriptions </label><br>
            <input type="text" name="text" placeholder="Lorem to Input">
            <br>
    
            <br>
            <label> Category </label><br>
            <select name="CategoryId">
                <option disabled selected value="">-- please choose one --</option>
                <% category.forEach(el => { %>
                    <option value=<%= el.id %>> <%= el.type %> </option> 
                <% }); %>
            </select>
            
            <br>
            <br>
            <label> Tag </label><br>
            <select name="TagId">
                <option disabled selected value="">-- please choose one --</option>
                <% tag.forEach(el => { %>
                    <option value=<%= el.id %>> <%= el.tagName %> </option> 
                <% }); %>
            </select>
            <br>
            <br>
            <button type="submit"> POST </button>
            
        </form>
    </div>
    

    
</body>
</html>