<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Detail</title>
</head>

<body style="background-color:burlywood">

    <%- include('partials/header'); %>

    <div style="text-align: center;">
        <h1><b>Detail cloth</b></h1>
        <br>
        <img src="<%= post.imageURL %>" alt="">
        <br><br>
        <p>
            "<%= post.text %>"
            <br><br>
            posted <%= publishedTime(post.createdAt) %>..
        </p>
    </div>

</body>

</html>