<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <div style="text-align: center;">
    <nav class="navbar navbar-light" style="background-color: #ffdd9d;">
            <h1> Welcome to our Blog </h1>
        </nav>
        <br><br>
        <h3>Please select a category</h5>
            <a href="/clothes"> <button class="btn btn-danger"> Clothes </button> </a>
            <a href="/cosmetics"> <button class="btn btn-success" > Cosmetics </button> </a>
    </div>
    
</body>
</html>